<div>
    <div class="card" style="width: 52rem; margin:40px 0px 40px 0px">
        <p class="card-header title post-title" id="{{post.id}}">{{post.post_title}}</p>
        <p class="text cards">{{post.post_content}}</p>
        <p class="text created-by">Created by <strong>{{post.user.username}}</strong> on <strong>{{format_date post.createdAt}}</strong> </p>
    </div>
    <div class="comments">
        <h3>Comments:</h3>
   {{#each post.comments}}
      <div class="comment">
          <p class="text comment-text">
            {{comment_content}}
         </p>
         <p class="comment-created-by">
            Posted by {{user.username}} on {{format_date createdAt}}
         </p>
      </div>
   {{/each}}
    </div>
    <form class="comment-form" style="padding: 20px 0px">
        <div class="form-group">
            <input type="text" class="form-control" id="comment-content" placeholder="Enter comment here..." style="border:black thin solid">
            <button type="submit" class="btn btn-primary" style="margin-top:10px; background-color:rgb(235, 187, 29); color:black; border:none ">Post Comment</button>
        </div>
    </form>
   
    <script src="/js/add-comment.js"></script>
</div>
        


